<script type="text/javascript" charset="utf-8">
	$(function() {
		// Setup the input form fields
		var availableChores = <%- types %>;
		var availableFriends = <%- friends %>;
		$('#choreName').autocomplete( { source: availableChores} );
		$('#personName').autocomplete( { source: availableFriends} );

		// Set UI button styles
		$('#choreSubmit').button();
		$('#choreSubmit').addClass('choreSubmit');
		$('#timeLabel').addClass('ui-widget');

		var leaderBoardData = [];

		var drawleaderBoard = function() {
			$.plot($('#leaderboardDiv'), leaderBoardData, {
				series: {
					lines: {show: false},
					bars: { 
						show: true,
						barWidth: 0.5,
						horizontal: true
					}
				},
				yaxis: { ticks: 0, max: <%= userIds.length %>},
				//xaxis: { tickLength: 0},
				legend: { position: "se"},
				grid: {borderWidth: 0},
			});
		};

		// Want to reverse sort the array
		function sortLeaders(a, b) {
			return a.data[0][0] - b.data[0][0];
		}
		
		// Load dynamic data for graphs
		<% userIds.forEach(function(val) { %>	
			$.getJSON('/api/getUserPoints/<%- val %>', function(pointData) { 
				leaderBoardData.push({
					label: pointData.name, 
					data: [[pointData.points, 0]]
				});
				leaderBoardData.sort(sortLeaders);
				// Fix vertical ordering as well
				for (var i = 0; i < leaderBoardData.length; i++) {
					leaderBoardData[i].data[0][1] = i + 0.3;
				}
				drawleaderBoard();
			});
		<% }) %>
		
		// Set the height of the leaderBoardData
		$('#leaderboardDiv').height(Math.min(<%= userIds.length %> * 50, 200));
	});

	function showValue(value) {
		$('#timeLabel').val(value + 'm');
	}

</script>
	
<div id="addChore">
	<form action="/do_chore" method="post" name="createTask">
		<label for="choreName">Chore</label>
		<input type="text" id="choreName" name="chore" autofocus required placeholder="Start typing for autocomplete...">
		<label for="personName">Person</label>
		<input type="text" id="personName" name="person" placeholder="<%= user.name %>"><br/>
		<label for="time">Time: </label>
		<span>
			<input type="range" id= "time" name="time" min="10" max="120" value="30" step="5" onchange="showValue(this.value)" >
			<input type="text" id="timeLabel" value="30m" readonly>
		</span>
		<input type="submit" id='choreSubmit' value="Do it!"/>
	</form>
</div>

<br/>

<br/>
<header>
	<hgroup>
		<h4><u>Leader Board</u></h4>
	</hgroup>
</header>
<div id="leaderboardDiv" title="Leader Board" class="graph"></div>

